<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="theme-color" content="#000000">

  <title>umi3 demo</title>
  <!-- set `maximum-scale` for some compatibility issues -->
  <!-- 强制显示方式 -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
  <!-- 允许全屏 -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <!-- 顶端状态条样式 -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <!-- 忽略将数字变为电话号码 -->
  <meta content="telephone=no" name="format-detection">

  <!-- 设置网页图标 -->
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
  <div id="root"></div>
</body>
</html>
